/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url('imagenes/fondo.jpg'); /* Cambia la ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
}

/* Estilos para header y footer */
header, footer {
    background-color: black; /* Color con transparencia */
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/* Contenedor principal */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    color: black;
}

/* Estilo para la sección de botones e imágenes */
.openPatientForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre elementos */
    color: black
    
}

/* Contenedor de imagen y botón */
.button-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilo para las imágenes responsivas */
.responsive-img {
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    margin-bottom: 10px; /* Espacio entre imagen y botón */
}

/* Estilo para los botones */
button {
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: black;
    color: white;
}

/* Ajuste responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .responsive-img {
        width: 80px; /* Tamaño más pequeño en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    button {
        font-size: 0.9rem;
    }
}
